# Kafka Configuration
KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID=payment-management-group

# MSK Authentication (for AWS deployment)
# Options: none, iam, scram
MSK_AUTH_MECHANISM=none
AWS_REGION=ap-southeast-1
MSK_USERNAME=
MSK_PASSWORD=

# Service URLs
USER_SERVICE_URL=http://localhost:8002
PAYMENT_SERVICE_URL=http://localhost:8003
