# AWS Configuration
AWS_REGION=ap-southeast-1

# Environment (dev, staging, prod)
ENV=dev

# Internal service URLs (injected by K8s ConfigMap in production)
ORDER_SERVICE_URL=http://localhost:8001
USER_SERVICE_URL=http://localhost:8002
PAYMENT_WRAPPER_SERVICE_URL=http://localhost:8003

# Kafka (MSK Serverless) - event publishing
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC_ORDERS=orders
