AWS_REGION=your_aws_region_here
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_access_key_here
STORES_TABLE=your_stores_table_name_here
ITEMS_TABLE=your_items_table_name_here